build
.gradle
.idea/$PRODUCT_WORKSPACE_FILE$

.idea/dataSources*
.idea/uiDesigner.xml
.idea/libraries
.idea/modules
.idea/modules.xml
.idea/gradle.xml
.idea/kotlinc.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/scala_compiler.xml
.idea/misc.xml
.idea/appercut.iml
.idea/artifacts

*.log
*.log.*

/test_data
